# Exploring Ebay Car Sales Data

For this guided project from Dataquest I'll work with a dataset of used cars from eBay Kleinanzeigen, a [classifieds](https://en.wikipedia.org/wiki/Classified_advertising) section of the German eBay website.

## Dataset description
The dataset was downloaded by the Dataquest team from Kaggle, who made a few modifications to the original dataset:
* 50,000 data points from the full dataset were sampled, to ensure the code runs quickly 
* The dataset was dirtied a bit to more closely resemble what one would expect from a scraped dataset

The data dictionary provided with data is as follows:

* dateCrawled - When this ad was first crawled. All field-values are taken from this date.
* name - Name of the car.
* seller - Whether the seller is private or a dealer.
* offerType - The type of listing
* price - The price on the ad to sell the car.
* abtest - Whether the listing is included in an A/B test.
* vehicleType - The vehicle Type.
* yearOfRegistration - The year in which the car was first registered.
* gearbox - The transmission type.
* powerPS - The power of the car in PS.
* model - The car model name.
* kilometer - How many kilometers the car has driven.
* monthOfRegistration - The month in which the car was first registered.
* fuelType - What type of fuel the car uses.
* brand - The brand of the car.
* notRepairedDamage - If the car has a damage which is not yet repaired.
* dateCreated - The date on which the eBay listing was created.
* nrOfPictures - The number of pictures in the ad.
* postalCode - The postal code for the location of the vehicle.
* lastSeenOnline - When the crawler saw this ad last online.

The aim of this project is to clean the data and analyze the included used car listings.

## Initial data analysis

First I imported the numpy and pandas libraries, read the autos.csv dataset and added the "autos" column to the existing dataset.

In [2]:
import numpy as np
import pandas as pd

autos=pd.read_csv('autos.csv',encoding='Latin-1')
autos["autos"] = np.nan

In [3]:
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 21 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
autos                  0 non-null float64
dtypes: float64(1), int64(5), object(15)
memory usage: 8.0+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,...,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen,autos
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,...,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54,NaN
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,...,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08,NaN
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,...,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37,NaN
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,...,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28,NaN
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,...,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50,NaN

After analysing the data, we can see that the dataset contains 20 columns, most of which are strings, some columns have null values, but none have more than ~20% null values, the column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores. In addition to this, the "autos" column has 0 non-null float64 values and the first five rows of the "autos" column have NaN values as expected.

## Changing the naming convention

In the next few lines I convert the column names from camelcase to snakecase and reword some of the column names based on the data dictionary to be more descriptive.

In [4]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen', 'autos'],
      dtype='object')

In [5]:

clean_columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen','autos']

autos.columns = clean_columns

autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,...,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen,autos
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,...,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54,NaN
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,...,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08,NaN
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,...,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37,NaN
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,...,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28,NaN
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,...,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50,NaN

The column names yearOfRegistration, monthOfRegistration, notRepairedDamage and dateCreated were changed to registration_year, registration_month, unrepaired_damage and ad_created. The rest of the  columnn names were changed from camelcase to snakecase. The purpose of this exercise is learning to correct column names.

In [6]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,...,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen,autos
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,...,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000,0.0
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,...,13,NaN,7,40,2,76,NaN,NaN,39481,NaN
top,2016-04-02 15:49:30,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,...,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27,NaN
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,...,32424,NaN,30107,10687,35232,1946,NaN,NaN,8,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,...,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,...,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,...,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,...,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,...,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,...,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,...,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN,NaN

* seller and offer_type columns contain only 2 levels. seller contains 49999 observations with "privat" values and 1 obs. with "gewerblich" whereas the offer_type has 49999 "Angebot" obs. and 1 "Gesuch" obs. This makes them candidates for deletion.
* The price and odometer columns contain both numeric and character values (i.e. the $ amount and the nb. of km). The strings shall be removed and both columns shall be renamed such that the unit of measurement is clear.
* There are five columns contains null values vehicle_type, gearbox, model, fuel_type, unrepaired_damage.

In [7]:
autos["seller"].value_counts()

privat        49999
gewerblich        1
Name: seller, dtype: int64

In [8]:
autos["offer_type"].value_counts()

Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64

In [9]:
autos["gearbox"].value_counts()

manuell      36993
automatik    10327
Name: gearbox, dtype: int64

## Further pre-processing and analysis

For price and odometer I will remove non-numeric characters and convert the columns to numeric dtype.

In [10]:

autos['price'] = autos['price'].str.replace("$","")
autos['price'] = autos['price'].str.replace(",","").astype(int)

autos['odometer'] = autos['odometer'].str.replace("km","")
autos['odometer'] = autos['odometer'].str.replace(",","").astype(int)

Next, I will rename the odometer column to odometer_km.

In [11]:
autos.rename({"odometer": "odometer_km"}, axis = 1, inplace = True)
print(autos.dtypes)

date_crawled           object
name                   object
seller                 object
offer_type             object
price                   int64
ab_test                object
vehicle_type           object
registration_year       int64
gearbox                object
power_ps                int64
model                  object
odometer_km             int64
registration_month      int64
fuel_type              object
brand                  object
unrepaired_damage      object
ad_created             object
nr_of_pictures          int64
postal_code             int64
last_seen              object
autos                 float64
dtype: object

Lastly, I will remove seller and offer_type columns as they do not add much information (the obs. almost entirely consist of one level).

In [12]:
autos.drop(['seller', 'offer_type'], axis=1, inplace=True)

autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
date_crawled          50000 non-null object
name                  50000 non-null object
price                 50000 non-null int64
ab_test               50000 non-null object
vehicle_type          44905 non-null object
registration_year     50000 non-null int64
gearbox               47320 non-null object
power_ps              50000 non-null int64
model                 47242 non-null object
odometer_km           50000 non-null int64
registration_month    50000 non-null int64
fuel_type             45518 non-null object
brand                 50000 non-null object
unrepaired_damage     40171 non-null object
ad_created            50000 non-null object
nr_of_pictures        50000 non-null int64
postal_code           50000 non-null int64
last_seen             50000 non-null object
autos                 0 non-null float64
dtypes: float64(1), int64(7), object(11)
memory usage: 7.2+ MB

## Analysis of outliers¶
Next, I will specifically analyse the values of the new odometer_km and price columns and check for outlier values. I will specifically analyse the minimum and maximum values along with several percentiles in order to look for any values that look unrealistically high or low which could be subject to removal or imputation.

In [13]:
print('unique Prices: ', autos['price'].unique().shape)
print('unique odometer_km: ', autos['odometer_km'].unique().shape)

unique Prices:  (2357,)
unique odometer_km:  (13,)

In [14]:
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [15]:
autos['odometer_km'].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [17]:
autos['price'].value_counts().sort_index(ascending=True)

0           1421
1            156
2              3
3              1
5              2
8              1
9              1
10             7
11             2
12             3
13             2
14             1
15             2
17             3
18             1
20             4
25             5
29             1
30             7
35             1
40             6
45             4
47             1
49             4
50            49
55             2
59             1
60             9
65             5
66             1
            ...
151990         1
155000         1
163500         1
163991         1
169000         1
169999         1
175000         1
180000         1
190000         1
194000         1
197000         1
198000         1
220000         1
250000         1
259000         1
265000         1
295000         1
299000         1
345000         1
350000         1
999990         1
999999         2
1234566        1
1300000        1
3890000        1
10000000       1
11111111       2
12345678       3
27322222       1
99999999       1
Name: price, Length: 2357, dtype: int64

In [18]:
autos['odometer_km'].value_counts().sort_index(ascending=True)

5000        967
10000       264
20000       784
30000       789
40000       819
50000      1027
60000      1164
70000      1230
80000      1436
90000      1757
100000     2169
125000     5170
150000    32424
Name: odometer_km, dtype: int64

* No outliers were detected for the odometer_km variable. The distribution is fairly well-balanced, with the values near the minimum and maximum values being properly populated. This is mainly due to the low number of levels (13 levels).
* For 1421 observations the price is 0 (given for free). Because this is the minimum value while being roughly only 2% of the data, this value can be removed. Because it is normal to find items starting from 1 dollar on Ebay and it is preferable to remove as little data as possible, only values less than 1 will be removed. 
* Very high, unrealistic prices up to millions were detected. Only obs. with prices up to 250000 were kept.

In [23]:
autos[autos['price'].between(1,250000)]
autos.describe()

,price,registration_year,power_ps,odometer_km,registration_month,nr_of_pictures,postal_code,autos
count,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.000000,50000.0,50000.000000,0.0
mean,9.840044e+03,2005.073280,116.355920,125732.700000,5.723360,0.0,50813.627300,NaN
std,4.811044e+05,105.712813,209.216627,40042.211706,3.711984,0.0,25779.747957,NaN
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000,NaN
25%,1.100000e+03,1999.000000,70.000000,125000.000000,3.000000,0.0,30451.000000,NaN
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000,0.0,49577.000000,NaN
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000,0.0,71540.000000,NaN
max,1.000000e+08,9999.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000,NaN

## Analysing date values

There are 5 columns that should represent date values. Some of these columns were created by the crawler, some came from the website itself. We can differentiate by referring to the data dictionary:

- `date_crawled`: added by the crawler
- `last_seen`: added by the crawler
- `ad_created`: from the website
- `registration_month`: from the website
- `registration_year`: from the website

The distribution (percent distribution) of values in the date_crawled, ad_created, and last_seen variables is to be analysed below along with registration_year while accounting for the missing values.

In [27]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
date_crawled          50000 non-null object
name                  50000 non-null object
price                 50000 non-null int64
ab_test               50000 non-null object
vehicle_type          44905 non-null object
registration_year     50000 non-null int64
gearbox               47320 non-null object
power_ps              50000 non-null int64
model                 47242 non-null object
odometer_km           50000 non-null int64
registration_month    50000 non-null int64
fuel_type             45518 non-null object
brand                 50000 non-null object
unrepaired_damage     40171 non-null object
ad_created            50000 non-null object
nr_of_pictures        50000 non-null int64
postal_code           50000 non-null int64
last_seen             50000 non-null object
autos                 0 non-null float64
dtypes: float64(1), int64(7), object(11)
memory usage: 7.2+ MB

Because date_crawled, last_seen and ad_created are stored as strings, they need to be converted to dates first. First, it is important to understand these variables' formatting by looking at the first five values.

In [28]:
autos[['date_crawled', 'last_seen', 'ad_created']][0:5]

          date_crawled            last_seen           ad_created
0  2016-03-26 17:47:46  2016-04-06 06:45:54  2016-03-26 00:00:00
1  2016-04-04 13:38:56  2016-04-06 14:45:08  2016-04-04 00:00:00
2  2016-03-26 18:57:24  2016-04-06 20:15:37  2016-03-26 00:00:00
3  2016-03-12 16:58:10  2016-03-15 03:16:28  2016-03-12 00:00:00
4  2016-04-01 14:38:50  2016-04-01 14:38:50  2016-04-01 00:00:00

In [30]:
autos['date_crawled'].value_counts(normalize=True, dropna=False).sort_index(ascending=True)

2016-03-05 14:06:30    0.00002
2016-03-05 14:06:40    0.00002
2016-03-05 14:07:04    0.00002
2016-03-05 14:07:08    0.00002
2016-03-05 14:07:21    0.00002
2016-03-05 14:07:26    0.00002
2016-03-05 14:07:40    0.00002
2016-03-05 14:07:45    0.00002
2016-03-05 14:08:00    0.00004
2016-03-05 14:08:05    0.00004
2016-03-05 14:08:27    0.00002
2016-03-05 14:08:42    0.00002
2016-03-05 14:09:02    0.00004
2016-03-05 14:09:05    0.00002
2016-03-05 14:09:20    0.00002
2016-03-05 14:09:22    0.00002
2016-03-05 14:09:38    0.00002
2016-03-05 14:09:46    0.00002
2016-03-05 14:09:56    0.00002
2016-03-05 14:09:57    0.00002
2016-03-05 14:09:58    0.00004
2016-03-05 14:10:18    0.00002
2016-03-05 14:10:20    0.00002
2016-03-05 14:10:46    0.00002
2016-03-05 14:11:03    0.00002
2016-03-05 14:11:05    0.00002
2016-03-05 14:11:14    0.00002
2016-03-05 14:11:15    0.00002
2016-03-05 14:11:25    0.00002
2016-03-05 14:11:40    0.00002
                        ...
2016-04-07 10:36:19    0.00002
2016-04-07 10:36:21    0.00002
2016-04-07 10:36:24    0.00002
2016-04-07 10:36:25    0.00002
2016-04-07 10:36:35    0.00002
2016-04-07 10:36:36    0.00002
2016-04-07 10:36:37    0.00004
2016-04-07 11:06:33    0.00002
2016-04-07 11:36:19    0.00002
2016-04-07 11:36:23    0.00002
2016-04-07 11:36:24    0.00002
2016-04-07 11:36:25    0.00002
2016-04-07 11:36:34    0.00004
2016-04-07 11:36:35    0.00002
2016-04-07 12:06:19    0.00002
2016-04-07 12:06:23    0.00002
2016-04-07 12:25:34    0.00002
2016-04-07 12:25:35    0.00002
2016-04-07 13:06:18    0.00002
2016-04-07 13:25:39    0.00002
2016-04-07 13:36:19    0.00002
2016-04-07 13:36:20    0.00002
2016-04-07 13:36:37    0.00002
2016-04-07 13:36:38    0.00002
2016-04-07 14:07:04    0.00002
2016-04-07 14:30:09    0.00002
2016-04-07 14:30:26    0.00002
2016-04-07 14:36:44    0.00002
2016-04-07 14:36:55    0.00002
2016-04-07 14:36:56    0.00002
Name: date_crawled, Length: 48213, dtype: float64

The data was crawled from 05/03/2016 to 07/04/2016 (approx. a month). The distribution of listings crawled daily is very close to uniform (with most of the values around 0.00002).

In [26]:
autos['ad_created'].value_counts(normalize=True, dropna=False).sort_index(ascending=True)

2015-06-11 00:00:00    0.00002
2015-08-10 00:00:00    0.00002
2015-09-09 00:00:00    0.00002
2015-11-10 00:00:00    0.00002
2015-12-05 00:00:00    0.00002
2015-12-30 00:00:00    0.00002
2016-01-03 00:00:00    0.00002
2016-01-07 00:00:00    0.00002
2016-01-10 00:00:00    0.00004
2016-01-13 00:00:00    0.00002
2016-01-14 00:00:00    0.00002
2016-01-16 00:00:00    0.00002
2016-01-22 00:00:00    0.00002
2016-01-27 00:00:00    0.00006
2016-01-29 00:00:00    0.00002
2016-02-01 00:00:00    0.00002
2016-02-02 00:00:00    0.00004
2016-02-05 00:00:00    0.00004
2016-02-07 00:00:00    0.00002
2016-02-08 00:00:00    0.00002
2016-02-09 00:00:00    0.00004
2016-02-11 00:00:00    0.00002
2016-02-12 00:00:00    0.00006
2016-02-14 00:00:00    0.00004
2016-02-16 00:00:00    0.00002
2016-02-17 00:00:00    0.00002
2016-02-18 00:00:00    0.00004
2016-02-19 00:00:00    0.00006
2016-02-20 00:00:00    0.00004
2016-02-21 00:00:00    0.00006
                        ...
2016-03-09 00:00:00    0.03324
2016-03-10 00:00:00    0.03186
2016-03-11 00:00:00    0.03278
2016-03-12 00:00:00    0.03662
2016-03-13 00:00:00    0.01692
2016-03-14 00:00:00    0.03522
2016-03-15 00:00:00    0.03374
2016-03-16 00:00:00    0.03000
2016-03-17 00:00:00    0.03120
2016-03-18 00:00:00    0.01372
2016-03-19 00:00:00    0.03384
2016-03-20 00:00:00    0.03786
2016-03-21 00:00:00    0.03772
2016-03-22 00:00:00    0.03280
2016-03-23 00:00:00    0.03218
2016-03-24 00:00:00    0.02908
2016-03-25 00:00:00    0.03188
2016-03-26 00:00:00    0.03256
2016-03-27 00:00:00    0.03090
2016-03-28 00:00:00    0.03496
2016-03-29 00:00:00    0.03414
2016-03-30 00:00:00    0.03344
2016-03-31 00:00:00    0.03192
2016-04-01 00:00:00    0.03380
2016-04-02 00:00:00    0.03508
2016-04-03 00:00:00    0.03892
2016-04-04 00:00:00    0.03688
2016-04-05 00:00:00    0.01184
2016-04-06 00:00:00    0.00326
2016-04-07 00:00:00    0.00128
Name: ad_created, Length: 76, dtype: float64

Ads were created from 11/06/2015 to 07/04/2016, with the majority of ads created in March.

In [25]:
autos['last_seen'].value_counts(normalize=True, dropna=False).sort_index(ascending=True)

2016-03-05 14:45:46    0.00002
2016-03-05 14:46:02    0.00002
2016-03-05 14:49:34    0.00002
2016-03-05 15:16:11    0.00002
2016-03-05 15:16:47    0.00002
2016-03-05 15:28:10    0.00002
2016-03-05 15:41:30    0.00002
2016-03-05 15:45:43    0.00002
2016-03-05 15:47:38    0.00002
2016-03-05 15:47:44    0.00002
2016-03-05 16:45:57    0.00002
2016-03-05 16:47:28    0.00002
2016-03-05 17:15:45    0.00002
2016-03-05 17:16:12    0.00002
2016-03-05 17:16:14    0.00002
2016-03-05 17:16:23    0.00002
2016-03-05 17:17:02    0.00002
2016-03-05 17:39:19    0.00002
2016-03-05 17:40:14    0.00002
2016-03-05 17:44:50    0.00002
2016-03-05 17:44:54    0.00002
2016-03-05 17:46:01    0.00002
2016-03-05 18:17:58    0.00002
2016-03-05 18:47:14    0.00002
2016-03-05 18:50:38    0.00002
2016-03-05 19:15:08    0.00002
2016-03-05 19:15:20    0.00002
2016-03-05 19:15:42    0.00002
2016-03-05 19:16:36    0.00002
2016-03-05 19:17:17    0.00002
                        ...
2016-04-07 14:58:09    0.00004
2016-04-07 14:58:10    0.00004
2016-04-07 14:58:12    0.00004
2016-04-07 14:58:13    0.00002
2016-04-07 14:58:14    0.00002
2016-04-07 14:58:17    0.00006
2016-04-07 14:58:18    0.00010
2016-04-07 14:58:20    0.00002
2016-04-07 14:58:21    0.00006
2016-04-07 14:58:22    0.00002
2016-04-07 14:58:24    0.00004
2016-04-07 14:58:25    0.00002
2016-04-07 14:58:26    0.00004
2016-04-07 14:58:27    0.00004
2016-04-07 14:58:28    0.00004
2016-04-07 14:58:29    0.00006
2016-04-07 14:58:31    0.00004
2016-04-07 14:58:33    0.00004
2016-04-07 14:58:34    0.00004
2016-04-07 14:58:36    0.00006
2016-04-07 14:58:37    0.00002
2016-04-07 14:58:38    0.00002
2016-04-07 14:58:40    0.00002
2016-04-07 14:58:41    0.00002
2016-04-07 14:58:42    0.00004
2016-04-07 14:58:44    0.00006
2016-04-07 14:58:45    0.00002
2016-04-07 14:58:46    0.00002
2016-04-07 14:58:48    0.00006
2016-04-07 14:58:50    0.00008
Name: last_seen, Length: 39481, dtype: float64

Based on the data above, the last 2 days had more sales than the other days. At 2016-03-05, the distribution of the last_seen variable was roughly uniform.

In [32]:
autos['registration_year'].describe()

count    50000.000000
mean      2005.073280
std        105.712813
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

The data has what might be dummy values such 1000 as and 9999. The meaning of these values is unknown. As the car was invented at the end of the [1800s](https://en.wikipedia.org/wiki/Car), only year 1900 can be considered as a starting point. In addition to this, any registeration_year after 2016 when the data was crawled might be inaccurate.
.

In [36]:

autos[(autos['registration_year'] < 1900) | (autos['registration_year'] > 2016)].shape[0]

1972

Because 1972 is only about 4% of the data, these observations shall be deleted.

In [ ]:
autos = autos[autos['registration_year'].between(1900, 2016)]

In [40]:
autos['registration_year'].describe()

count    48028.00000
mean      2002.80351
std          7.31085
min       1910.00000
25%       1999.00000
50%       2003.00000
75%       2008.00000
max       2016.00000
Name: registration_year, dtype: float64

In [39]:
autos['registration_year'].value_counts(normalize=True)

2000    0.069834
2005    0.062776
1999    0.062464
2004    0.056988
2003    0.056779
2006    0.056384
2001    0.056280
2002    0.052740
1998    0.051074
2007    0.047972
2008    0.046452
2009    0.043683
1997    0.042225
2011    0.034022
2010    0.033251
1996    0.030066
2012    0.027546
2016    0.027401
1995    0.027338
2013    0.016782
2014    0.013867
1994    0.013742
1993    0.009265
2015    0.008308
1990    0.008224
1992    0.008141
1991    0.007412
1989    0.003769
1988    0.002957
1985    0.002186
          ...
1966    0.000458
1977    0.000458
1975    0.000396
1969    0.000396
1965    0.000354
1964    0.000250
1910    0.000187
1963    0.000187
1959    0.000146
1961    0.000125
1956    0.000104
1958    0.000083
1937    0.000083
1962    0.000083
1950    0.000062
1954    0.000042
1941    0.000042
1934    0.000042
1957    0.000042
1951    0.000042
1955    0.000042
1931    0.000021
1953    0.000021
1943    0.000021
1938    0.000021
1939    0.000021
1927    0.000021
1929    0.000021
1948    0.000021
1952    0.000021
Name: registration_year, Length: 78, dtype: float64

Increasingly more cars were registered during time; with the most registrations in the 2000s.

## Analysing price by brand¶

Since there are numerous brands, the top 10 brands are selected.

In [44]:
brands = autos['brand'].value_counts(normalize=True).sort_values(ascending=False)[0:10].index
brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat'],
      dtype='object')

In [45]:
price_brand = {}

for brand in brands:
    mean_price = autos.loc[autos['brand'] == brand, 'price'].mean()
    price_brand[brand] = mean_price
    
price_brand

{'audi': 9093.65003615329,
 'bmw': 8334.645155185466,
 'fiat': 2711.8011272141707,
 'ford': 7263.015811455847,
 'mercedes_benz': 30317.447816593885,
 'opel': 5252.61655437921,
 'peugeot': 3039.4682651622,
 'renault': 2395.4164467897976,
 'seat': 4296.492554410081,
 'volkswagen': 6516.457597173145}

* Audi, BMW and Mercedes Benz are more expensive
* Ford and Opel are less expensive
* Volkswagen is in between

## Analysing average mileage¶

For the top brands, let's use aggregation to understand the average mileage for those cars and if there's any visible link with mean price.

In [49]:

mileage_brand = {}

for brand in brands:
    mean_mileage = autos.loc[autos['brand'] == brand, 'odometer_km'].mean()
    mileage_brand[brand] = mean_mileage
    
mileage_brand

{'audi': 129287.78018799711,
 'bmw': 132434.70855412565,
 'fiat': 116553.94524959743,
 'ford': 124046.83770883054,
 'mercedes_benz': 130860.26200873363,
 'opel': 129227.14148219442,
 'peugeot': 127136.81241184767,
 'renault': 128183.81706244503,
 'seat': 121563.57388316152,
 'volkswagen': 128730.36906164115}

In [50]:
# create a dataframe of the mean price and mean mileage to make it easy to compare

# first covert both dictionaries to series
mean_price = pd.Series(price_brand)
mean_mileage = pd.Series(mileage_brand)

# create a dataframe of both series
brand_df = pd.DataFrame({'mean_price': mean_price, 'mean_mileage': mean_mileage})

brand_df

                mean_mileage    mean_price
audi           129287.780188   9093.650036
bmw            132434.708554   8334.645155
fiat           116553.945250   2711.801127
ford           124046.837709   7263.015811
mercedes_benz  130860.262009  30317.447817
opel           129227.141482   5252.616554
peugeot        127136.812412   3039.468265
renault        128183.817062   2395.416447
seat           121563.573883   4296.492554
volkswagen     128730.369062   6516.457597

Mileage does not seem related to the price. Some car brands with low prices have higher mileages than other expensive cars.